body{
    background-color:white;
    height: 800px;
    width: 800px;
    margin: 0 auto;
}
html{
    background-color: rgb(78, 193, 231);
}

#header{
    height: 150px;
    width: 100%;
    background-color: rgb(143, 51, 51);
    background-image: url(images\ \(1\).jpg);
    background-repeat: no-repeat;
    }
#navbar{
    height: 30px;
    width: 100%;
    background-color: black;
    font-size: 20px;
    /* color: whitesmoke;
    padding-left: 50px;
    list-style-type: none;
    display: inline;
    text-decoration: none; */


    }
#contents{
    height: 590px;
    width: 100%

}
#leftbox{
    height: 100%;
    width: 150px;
    background-color: mediumslateblue;
    float: left;
    text-align: left;
}
#rightbox{
    height: 100%;
    width: 650px;
    background-color: rgb(146, 143, 163);
    float: right;
    text-align: right;
}
#footer{
    height: 30px;
    width: 100%;
    background-color: rgb(209, 82, 82);
    color: rgb(31, 26, 26);
    float: right;
}
