/* p{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    color: teal;
} */
body{
    background-image:url(covid19.jpeg);
    }
.para1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: violet;
}
#paraid{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: tomato;
}